<div class="app-fxLayout-row app-footer">
  <div class="app-left app-fxFlex">AltoEditor © {{ currentYear }}</div>
  <div class="app-right" style="display: flex; gap: 10px; align-items: center;">
    Developed by
    <div style="display: flex; gap: 10px; align-items: center;">
      <a
        href="https://www.mzk.cz"
        title="Moravská zemská knihovna"
        target="_blank"
      >
        <img src="assets/img/logo-mzk.png" alt="Moravská zemská knihovna" />
      </a>
      <a href="https://www.inovatika.cz" title="Inovatika" target="_blank">
        <img src="assets/img/logo-inovatika.png" alt="Inovatika" />
      </a>
    </div>
  </div>
</div>
