<div class="app-fxLayout-column app-fxFlexFill">
  <div class="app-breadcrumbsbar app-fxLayout-row app-fxLayout-center-v">
    <div class="app-breadcrumbs app-fxFlex app-fxLayout-row app-fxLayout-center-v">
      <a routerLink="/"><mat-icon>home</mat-icon></a>
      <span class="app-separator">/</span>
      <span class="app-last">{{ 'navbar.my_objects' | translate }}</span>
    </div>
    <div class="app-h-100"></div>
  </div>
  <div class="app-content-wrapper app-fxFlex app-oh">
    <div class="app-oa-y app-h-100">
      <div class="app-border-wrapper">
        <table mat-table [dataSource]="versions" class="app-w-100 app-striped app-hover" matSort
          (matSortChange)="onSortChange($event)">

          <ng-container matColumnDef="label-filter">
            <th mat-header-cell *matHeaderCellDef>
              <mat-form-field>
                <input matInput type="text" id="titleFilter" [(ngModel)]="titleFilter"
                  (change)="filter('title', titleFilter)" [placeholder]="'desc.filterByLabel' | translate">
                <button mat-icon-button matIconSuffix color="warn" *ngIf="titleFilter"
                  (click)="filter('title', ''); titleFilter = ''"><mat-icon>clear</mat-icon></button>
              </mat-form-field>
            </th>
          </ng-container>
          <ng-container matColumnDef="label">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'desc.label' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ versionLabel(element) }}</td>
          </ng-container>

          <ng-container matColumnDef="createdAt-filter">
            <th mat-header-cell *matHeaderCellDef>
              <mat-form-field>
                <input matInput [matDatepicker]="pickerCreated" [formControl]="createdAfterFilter"
                  (dateChange)="createdAfterChanged($event, createdAfterFilter)" [placeholder]="'desc.filterByDate' | translate">
                <button mat-icon-button matIconSuffix color="warn" *ngIf="createdAfterFilter.value"
                  (click)="createdAfterFilter.setValue(null); filter('createdAfter', '')"><mat-icon>clear</mat-icon></button>
                <mat-datepicker-toggle matIconSuffix [for]="pickerCreated"></mat-datepicker-toggle>
                <mat-datepicker #pickerCreated></mat-datepicker>
              </mat-form-field>
            </th>
          </ng-container>
          <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'desc.createdAt' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.createdAt | date : 'dd.MM.yyyy HH:mm:ss' }}</td>
          </ng-container>

          <ng-container matColumnDef="updatedAt-filter">
            <th mat-header-cell *matHeaderCellDef>
              <mat-form-field>
                <input matInput [matDatepicker]="pickerUpdated" [formControl]="updatedAfterFilter"
                  (dateChange)="updatedAfterChanged($event, updatedAfterFilter)" [placeholder]="'desc.filterByDate' | translate">
                <button mat-icon-button matIconSuffix color="warn" *ngIf="updatedAfterFilter.value"
                  (click)="updatedAfterFilter.setValue(null); filter('updatedAfter', '')"><mat-icon>clear</mat-icon></button>
                <mat-datepicker-toggle matIconSuffix [for]="pickerUpdated"></mat-datepicker-toggle>
                <mat-datepicker #pickerUpdated></mat-datepicker>
              </mat-form-field>
            </th>
          </ng-container>
          <ng-container matColumnDef="updatedAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'desc.updatedAt' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.updatedAt | date : 'dd.MM.yyyy HH:mm:ss' }}</td>
          </ng-container>

          <ng-container matColumnDef="state-filter">
            <th mat-header-cell *matHeaderCellDef>
              <mat-form-field>
                <mat-select [(ngModel)]="stateFilter" (ngModelChange)="filter('state', stateFilter)"
                  panelClass="app-panel-table-header" [placeholder]="'desc.filterByStatus' | translate">
                  <mat-option *ngFor="let s of states" [value]="s">{{ 'state.' + s | translate }}</mat-option>
                </mat-select>
                <button mat-icon-button matIconSuffix color="warn" *ngIf="stateFilter"
                  (click)="filter('state', ''); stateFilter = ''; $event.stopPropagation();"><mat-icon>clear</mat-icon></button>
              </mat-form-field>
            </th>
          </ng-container>
          <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'desc.state' | translate }}</th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="element.state" class="app-badge" [ngClass]="'app-' + element.state">{{ 'state.' + element.state | translate }}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="pid-filter">
            <th mat-header-cell *matHeaderCellDef>
              <mat-form-field>
                <input matInput type="text" id="pidFilter" [(ngModel)]="pidFilter" (change)="filter('pid', pidFilter)"
                  [placeholder]="'desc.filterByPid' | translate">
                <button mat-icon-button matIconSuffix color="warn" *ngIf="pidFilter"
                  (click)="filter('pid', ''); pidFilter = ''"><mat-icon>clear</mat-icon></button>
              </mat-form-field>
            </th>
          </ng-container>
          <ng-container matColumnDef="pid">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>PID</th>
            <td mat-cell *matCellDef="let element">{{ element.pid }}</td>
          </ng-container>

          <ng-container matColumnDef="actions-filter">
            <th mat-header-cell *matHeaderCellDef></th>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
              <a (click)="gotoToObject(element)" [matTooltip]="'button.edit' | translate"><mat-icon>edit</mat-icon></a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="filterColumns; sticky: false"></tr>
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="app-cursor-pointer"
            (click)="gotoToObject(row)"></tr>
        </table>
        <mat-paginator [length]="totalRows" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
          aria-label="Select page" class="app-table-paginator" (page)="onPageChanged($event)"></mat-paginator>
      </div>
    </div>
  </div>
</div>
