<h2 mat-dialog-title>{{ data.title | translate : (data.titleParams || {}) }}</h2>
<mat-dialog-content class="app-dialog-content">
  <mat-form-field appearance="outline" class="app-w-100">
    <mat-label>{{ 'desc.withPriority' | translate }}</mat-label>
    <mat-select [(ngModel)]="selectedPriority">
      <mat-option *ngFor="let p of priorities" [value]="p">
        {{ 'processPriority.' + p | translate }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="app-scope-label">{{ 'desc.generateScope' | translate }}</div>
  <mat-radio-group [(ngModel)]="selectedScope" class="app-radio-group">
    <mat-radio-button *ngFor="let s of scopes" [value]="s">
      {{ 'hierarchyGenerateScope.' + s | translate }}
    </mat-radio-button>
  </mat-radio-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">{{ 'button.cancel' | translate }}</button>
  <button mat-flat-button color="primary" (click)="onConfirm()">
    {{ 'button.run' | translate }}
  </button>
</mat-dialog-actions>
