<div class="app-fxLayout-column app-fxFlexFill">
  <div class="app-breadcrumbsbar app-fxLayout-row app-fxLayout-center-v">
    <div class="app-breadcrumbs app-fxFlex app-fxLayout-row app-fxLayout-center-v">
      <a routerLink="/"><mat-icon>home</mat-icon></a>
      <span class="app-separator">/</span>
      <span class="app-last">{{ 'navbar.processManagement' | translate }}</span>
    </div>
    <div class="app-h-100">
      
    </div>
  </div>
  <div class="app-content-wrapper app-fxFlex app-oh app-oa-y">
    <div class="app-p-2 app-h-100 app-border-wrapper">
      <table mat-table [dataSource]="batches" class="app-w-100 app-striped app-hover" matSort (matSortChange)="onSortChange($event)">

        <ng-container matColumnDef="id-filter">
          <th mat-header-cell *matHeaderCellDef></th>
        </ng-container>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>{{ 'desc.id' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>
      
        <ng-container matColumnDef="pid-filter">
          <th mat-header-cell *matHeaderCellDef>
            <mat-form-field >
              <input matInput type="text" id="pidFilter" [(ngModel)]="filters.pid" (change)="filter('pid', filters.pid)" [placeholder]="'desc.filterByPid' | translate">
              <button mat-icon-button matIconSuffix color="warn" *ngIf="filters.pid" (click)="filter('pid', '')"><mat-icon>clear</mat-icon></button>
            </mat-form-field>
           </th>
        </ng-container>
        <ng-container matColumnDef="pid">
          <th mat-header-cell *matHeaderCellDef>{{ 'desc.pid' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.pid }}</td>
        </ng-container>
  
        <ng-container matColumnDef="createdAt-filter">
          <th mat-header-cell *matHeaderCellDef>
            <mat-form-field>
              <input matInput [matDatepicker]="pickerCreated" [formControl]="dateFormControls.createdAfter" (dateChange)="filterDate('createdAfter', dateFormControls.createdAfter, false)" [placeholder]="'desc.filterByCreatedAt' | translate">
              <button mat-icon-button matIconSuffix color="warn" *ngIf="dateFormControls.createdAfter.value" (click)="filterDate('createdAfter', null, false)"><mat-icon>clear</mat-icon></button>
              <mat-datepicker-toggle matIconSuffix [for]="pickerCreated"></mat-datepicker-toggle>
              <mat-datepicker #pickerCreated></mat-datepicker>
            </mat-form-field>
          </th>
        </ng-container>
        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'desc.createdAt' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.createdAt | date : 'dd.MM.yyyy HH:mm:ss' }}</td>
        </ng-container>
  
        <ng-container matColumnDef="updatedAt-filter">
          <th mat-header-cell *matHeaderCellDef>
            <mat-form-field>
              <input matInput [matDatepicker]="pickerUpdated" [formControl]="dateFormControls.updatedAfter" (dateChange)="filterDate('updatedAfter', dateFormControls.updatedAfter, false)" [placeholder]="'desc.filterByUpdatedAt' | translate">
              <button mat-icon-button matIconSuffix color="warn" *ngIf="dateFormControls.updatedAfter.value" (click)="filterDate('updatedAfter', null, false)"><mat-icon>clear</mat-icon></button>
              <mat-datepicker-toggle matIconSuffix [for]="pickerUpdated"></mat-datepicker-toggle>
              <mat-datepicker #pickerUpdated></mat-datepicker>
            </mat-form-field>
          </th>
        </ng-container>
        <ng-container matColumnDef="updatedAt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'desc.updatedAt' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.updatedAt | date : 'dd.MM.yyyy HH:mm:ss' }}</td>
        </ng-container>
  
        <ng-container matColumnDef="state-filter">
          <th mat-header-cell *matHeaderCellDef>
            <mat-form-field>
              <mat-select [(ngModel)]="filters.state" (ngModelChange)="filter('state', filters.state)" panelClass="app-panel-table-header" [placeholder]="'desc.filterByState' | translate">
                <mat-option *ngFor="let s of states" [value]="s">{{ 'processState.' + s | translate }}</mat-option>
              </mat-select>
              <button mat-icon-button matIconSuffix color="warn" *ngIf="filters.state" (click)="filter('state', ''); $event.stopPropagation()"><mat-icon>clear</mat-icon></button>
            </mat-form-field>
          </th>
        </ng-container>
        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'desc.state' | translate }}</th>
          <td mat-cell *matCellDef="let element" (click)="filter('state', element.state)">
            <span *ngIf="element.state" class="app-badge" [ngClass]="'app-' + element.state" [matTooltip]="element.log ?? ''">{{ 'processState.' + element.state | translate }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="substate-filter">
          <th mat-header-cell *matHeaderCellDef>  </th>
        </ng-container>
        <ng-container matColumnDef="substate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'desc.substate' | translate }}</th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.substate" class="app-badge" [ngClass]="'app-' + element.substate">{{ 'processSubstate.' + element.substate | translate }}</span>
          </td>
        </ng-container>
  
        <ng-container matColumnDef="priority-filter">
          <th mat-header-cell *matHeaderCellDef>
            <mat-form-field>
              <mat-select [(ngModel)]="filters.priority" (ngModelChange)="filter('priority', filters.priority)" panelClass="app-panel-table-header" [placeholder]="'desc.filterByPriority' | translate">
                <mat-option *ngFor="let p of priorities" [value]="p">{{ 'processPriority.' + p | translate }}</mat-option>
              </mat-select>
              <button mat-icon-button matIconSuffix color="warn" *ngIf="filters.priority" (click)="filter('priority', ''); $event.stopPropagation()"><mat-icon>clear</mat-icon></button>
            </mat-form-field>
          </th>
        </ng-container>
        <ng-container matColumnDef="priority">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'desc.priority' | translate }}</th>
          <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="element.priority">
              {{ 'processPriority.' + element.priority | translate }}
            </ng-container>
          </td>
        </ng-container>
  
        <ng-container matColumnDef="type-filter">
          <th mat-header-cell *matHeaderCellDef>
            <mat-form-field>
              <mat-select [(ngModel)]="filters.type" (ngModelChange)="filter('type', filters.type)" panelClass="app-panel-table-header" [placeholder]="'desc.filterByType' | translate">
                <mat-option *ngFor="let t of types" [value]="t">{{ 'processType.' + t | translate }}</mat-option>
              </mat-select>
              <button mat-icon-button matIconSuffix color="warn" *ngIf="filters.type" (click)="filter('type', ''); $event.stopPropagation()"><mat-icon>clear</mat-icon></button>
            </mat-form-field>
          </th>
        </ng-container>
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'desc.type' | translate }}</th>
          <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="element.type">
              {{ 'processType.' + element.type | translate }}
            </ng-container>
          </td>
        </ng-container>
  
        <ng-container matColumnDef="instance-filter">
          <th mat-header-cell *matHeaderCellDef>  </th>
        </ng-container>
        <ng-container matColumnDef="instance">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'desc.instance' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.instance }}</td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="filterColumns; sticky: false"></tr>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [length]="totalRows" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page" class="app-table-paginator" (page)="onPageChanged($event)"></mat-paginator>
    </div>
  </div>
</div>