<div class="app-fxLayout-column app-fxFlexFill">
  <div class="app-breadcrumbsbar app-fxLayout-row app-fxLayout-center-v">
    <div class="app-breadcrumbs app-fxFlex app-fxLayout-row app-fxLayout-center-v">
      <mat-icon>home</mat-icon>
      <span class="app-separator">/</span>
      <span class="app-last">{{ 'navbar.home' | translate }}</span>
    </div>
  </div>

  <div class="app-content-wrapper app-fxFlex app-oh app-oa-y">
    <div class="app-p-2 app-h-100">
      <h1 class="app-home-title">{{ 'desc.welcome' | translate }}</h1>
    </div>
  </div>
</div>
