<div class="app-fxLayout-column app-fxFlexFill">
  <div class="app-breadcrumbsbar app-fxLayout-row app-fxLayout-center-v">
    <div class="app-breadcrumbs app-fxFlex app-fxLayout-row app-fxLayout-center-v">
      <a routerLink="/"><mat-icon>home</mat-icon></a>
      <span class="app-separator">/</span>
      <span >{{ 'navbar.editing' | translate }}</span>
      <span class="app-separator">: </span>
      <span >{{ state.currentAltoVersion?.ancestorTitles.join(' / ') }}</span>
      <span class="app-separator">/</span>
      <span class="app-last">{{ state.currentAltoVersion?.pageTitle }}</span>
    </div>
  </div>
  <div class="app-content-wrapper app-fxFlex">
    <as-split direction="horizontal" class="app-border-wrapper" (dragEnd)="splitChanged($event)">
      <as-split-area [size]="50" #scroller>
        <div class="app-fxLayout app-column app-fill">
          <div class="app-toolbar app-fxLayout app-row app-center-v app-pl-2 app-pr-2">
            <button mat-icon-button (click)="zoomImg(1.4)" matTooltip="{{ 'button.zoomIn' | translate }}"><mat-icon>zoom_in</mat-icon></button>
            <button mat-icon-button (click)="zoomImg(.75)" matTooltip="{{ 'button.zoomOut' | translate }}"><mat-icon>zoom_out</mat-icon></button>
            <button mat-icon-button (click)="zoomImgReset()" matTooltip="{{ 'button.zoomReset' | translate }}"><mat-icon>zoom_in_map</mat-icon></button>
          </div>
          <div class="app-fxFlex">
            <app-viewer *ngIf="pid" [pid]="pid" [selectedAlto]="state.selectedAlto" [scroller]="scroller" [width]="viewerWidth" [imgW]="imgW" [altoPageWidth]="getAltoPageBounds()?.width" [altoPageHeight]="getAltoPageBounds()?.height"></app-viewer>
          </div>
        </div>

      </as-split-area>
      <as-split-area [size]="50">


        <div class="app-fxLayout app-column app-fill">
          <div class="app-toolbar app-fxLayout app-row app-center-v app-pl-2 app-pr-2">
            <!-- 1. Version + panel mode toggles (start) -->
            <div class="app-toolbar-group app-toolbar-start">
              <strong class="app-version">{{ panelMode === 'ocr' ? 'OCR' : 'ALTO' }}.{{ state.currentAltoVersion?.version ?? '_' }}</strong>
              <mat-button-toggle-group [(ngModel)]="panelMode" name="panelMode" class="app-panel-mode-toggle">
                <mat-button-toggle value="ocr" matTooltip="{{ 'button.ocrEditor' | translate }}">
                  <mat-icon>edit_note</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle value="xml" matTooltip="{{ 'button.xmlSource' | translate }}">
                  <mat-icon>code</mat-icon>
                </mat-button-toggle>
              </mat-button-toggle-group>
            </div>

            <span class="app-fxFlex"></span>

            <!-- 2. Zooms (end) -->
            <div class="app-toolbar-group">
              <button mat-icon-button (click)="zoom(1.1)" [disabled]="panelMode !== 'ocr'" matTooltip="{{ 'button.zoomIn' | translate }}"><mat-icon>zoom_in</mat-icon></button>
              <button mat-icon-button (click)="zoom(.9)" [disabled]="panelMode !== 'ocr'" matTooltip="{{ 'button.zoomOut' | translate }}"><mat-icon>zoom_out</mat-icon></button>
              <button mat-icon-button (click)="zoomReset()" [disabled]="panelMode !== 'ocr'" matTooltip="{{ 'button.zoomReset' | translate }}"><mat-icon>zoom_in_map</mat-icon></button>
            </div>

            <!-- 3. Save + Generate (end) -->
            <div class="app-toolbar-group">
              <button mat-icon-button (click)="save()" matTooltip="{{ 'button.save' | translate }}"><mat-icon>save</mat-icon></button>
              <button mat-icon-button *ngIf="state.currentUser?.isCurator && state.engineUsers?.length" [matMenuTriggerFor]="engineMenu" matTooltip="{{ 'button.generate' | translate }}"><mat-icon>scanner</mat-icon></button>
              <mat-menu #engineMenu="matMenu">
                <button mat-menu-item *ngFor="let engine of state.engineUsers" (click)="openGeneratePriorityDialog(engine)">{{ engine.username }}</button>
              </mat-menu>
            </div>
          </div>
          <div class="app-fxFlex app-oa-y">
            <ng-container *ngIf="panelMode === 'xml'">
              <pre class="app-m-0"><code [highlight]="state.altoXml"  [languages]="['xml']"></code></pre>
            </ng-container>
            <ng-container *ngIf="panelMode === 'ocr'" >
              <app-ocr-editor [selectedWords]="state.selectedWords" [printSpace]="state.printSpace" [printSpaceDiff]="state.printSpace0" [canEdit]="true" (setArea)="setArea($event)" [divZoom]="divZoom"></app-ocr-editor>
            </ng-container>
          </div>
        </div>
      </as-split-area>
    </as-split>
  </div>
</div>