<div class="app-fxLayout-column app-fxFlexFill">
  <div class="app-breadcrumbsbar app-breadcrumbsbar-split app-fxLayout-row app-fxLayout-center-v">
    <div class="app-breadcrumb-nav app-fxLayout app-row app-center-v">
      <div class="app-breadcrumbs app-fxLayout-row app-fxLayout-center-v">
        <a routerLink="/"><mat-icon>home</mat-icon></a>
        <span class="app-separator">/</span>
        <a routerLink="/revision">{{ 'navbar.revision' | translate }}</a>
        <span class="app-separator">/</span>
        <span class="app-last app-pid">{{ pid }}</span>
      </div>
      <ng-container *ngIf="hasListContext">
        <span class="app-breadcrumb-divider"></span>
        <div class="app-nav-buttons app-fxLayout app-row app-center-v">
          <button mat-icon-button (click)="goToPrev()" [disabled]="!canGoPrev" [matTooltip]="'button.prev' | translate" type="button"><mat-icon>chevron_left</mat-icon></button>
          <button mat-icon-button (click)="goToNext()" [disabled]="!canGoNext" [matTooltip]="'button.next' | translate" type="button"><mat-icon>chevron_right</mat-icon></button>
          <button mat-stroked-button (click)="backToResults()" [matTooltip]="'button.backToResults' | translate">
            <mat-icon>arrow_back</mat-icon> {{ 'button.backToResults' | translate }}
          </button>
        </div>
      </ng-container>
    </div>
    <div class="app-breadcrumb-actions app-fxLayout app-row app-center-v" style="gap: 0.5rem;">
      <button mat-button (click)="acceptVersion()" [disabled]="!selectedVersion" [matTooltip]="'button.accept' | translate">{{ 'button.accept' | translate }}</button>
      <button mat-button (click)="rejectVersion()" [disabled]="!selectedVersion || selectedVersion.state !== 'PENDING'" [matTooltip]="'button.reject' | translate">{{ 'button.reject' | translate }}</button>
      <button mat-button (click)="archiveVersion()" [disabled]="!selectedVersion || selectedVersion.state !== 'PENDING'" [matTooltip]="'button.archive' | translate">{{ 'button.archive' | translate }}</button>
    </div>
  </div>
  <div class="app-content-wrapper app-fxFlex">
    <as-split direction="vertical" class="app-border-wrapper" (dragEnd)="asDragEndHor($event)">
      <as-split-area [size]="hor_size">
        <as-split direction="horizontal" (dragEnd)="asDragEndTop($event)">
          <as-split-area [size]="top_left_size">
            <div class="app-fxLayout app-column app-fill">
              <div class="app-toolbar app-fxLayout app-center-v app-pl-2 app-pr-2">
                <strong>{{ 'desc.versionList' | translate }} ({{ pid }})</strong>
              </div>
              <div class="app-fxFlex app-oa-y">
                <table mat-table [dataSource]="versions" class="app-w-100 app-striped app-hover">
                  <ng-container matColumnDef="updatedAt">
                    <th mat-header-cell *matHeaderCellDef>{{ 'desc.updatedAt' | translate }}</th>
                    <td mat-cell *matCellDef="let element">{{ element.updatedAt | appDateTime }}</td>
                  </ng-container>
                  <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef>{{ 'desc.editedBy' | translate }}</th>
                    <td mat-cell *matCellDef="let element">{{ element.username }}</td>
                  </ng-container>
                  <ng-container matColumnDef="version">
                    <th mat-header-cell *matHeaderCellDef>{{ 'desc.version' | translate }}</th>
                    <td mat-cell *matCellDef="let element">{{ element.version }}</td>
                  </ng-container>
                  <ng-container matColumnDef="state">
                    <th mat-header-cell *matHeaderCellDef>{{ 'desc.state' | translate }}</th>
                    <td mat-cell *matCellDef="let element">
                      <span class="app-badge" [ngClass]="'app-' + element.state">{{ 'versionState.' + element.state | translate }}</span>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="app-cursor-pointer" [class.app-selected]="row.version === selectedVersion?.version" [class.app-active]="row.version === selectedVersion?.version" (click)="selectVersion(row.version)"></tr>
                </table>
              </div>
            </div>
          </as-split-area>
          <as-split-area>
            <div class="app-fxLayout app-column app-fill" *ngIf="activeVersion">
              <div class="app-toolbar app-fxLayout app-row app-center-v app-pl-2 app-pr-2">
                <div class="app-toolbar-group app-toolbar-start">
                  <strong class="app-fxFlex">{{ 'desc.activeVersion' | translate }}: {{ panel0Mode === 'xml' ? 'ALTO' : 'OCR' }}.{{activeVersion.version }}</strong>
                  <mat-button-toggle-group [(ngModel)]="panel0Mode" name="panel0Mode" class="app-panel-mode-toggle">
                    <mat-button-toggle value="ocr" [matTooltip]="'button.ocrEditor' | translate"><mat-icon>edit_note</mat-icon></mat-button-toggle>
                    <mat-button-toggle value="xml" [matTooltip]="'button.xmlSource' | translate"><mat-icon>code</mat-icon></mat-button-toggle>
                  </mat-button-toggle-group>
                </div>
              </div>
              <div class="app-fxFlex app-oa-y">
                <ng-container *ngIf="panel0Mode === 'xml'">
                  <pre class="app-m-0"><code [highlight]="activeVersionAlto" [languages]="['xml']"></code></pre>
                </ng-container>
                <ng-container *ngIf="panel0Mode === 'ocr'">
                  <app-ocr-editor [printSpace]="activeVersionOcr" [canEdit]="false" (setArea)="setArea($event)"></app-ocr-editor>
                </ng-container>
              </div>
            </div>
          </as-split-area>
        </as-split>
      </as-split-area>
      <as-split-area>
        <as-split direction="horizontal" (dragEnd)="asDragEndBottom($event)">
          <as-split-area [size]="bottom_left_size" #scroller>
            <div class="app-fxLayout app-column app-fill">
              <div class="app-toolbar app-fxLayout app-row app-center-v app-pl-2 app-pr-2">
                <button mat-icon-button (click)="zoomImg(1.4)" [matTooltip]="'button.zoomIn' | translate"><mat-icon>zoom_in</mat-icon></button>
                <button mat-icon-button (click)="zoomImg(.75)" [matTooltip]="'button.zoomOut' | translate"><mat-icon>zoom_out</mat-icon></button>
                <button mat-icon-button (click)="zoomImgReset()" [matTooltip]="'button.zoomReset' | translate"><mat-icon>zoom_in_map</mat-icon></button>
              </div>
              <div class="app-fxFlex">
                <app-viewer *ngIf="pid" [pid]="pid" [selectedAlto]="state.selectedAlto" [scroller]="scroller" [width]="viewerWidth" [imgW]="imgW" [altoPageWidth]="getAltoPageBounds()?.width" [altoPageHeight]="getAltoPageBounds()?.height"></app-viewer>
              </div>
            </div>
          </as-split-area>
          <as-split-area>
            <div class="app-fxLayout app-column app-fill" *ngIf="selectedVersion">
              <div class="app-toolbar app-fxLayout app-row app-center-v app-pl-2 app-pr-2">
                <div class="app-toolbar-group app-toolbar-start">
                  <strong class="app-fxFlex">{{ selectedVersion.username }}: {{ panelMode === 'xml' ? 'ALTO' : 'OCR' }}.{{selectedVersion.version }}</strong>
                  <mat-button-toggle-group [(ngModel)]="panelMode" name="panelMode" class="app-panel-mode-toggle">
                    <mat-button-toggle value="ocr" [matTooltip]="'button.ocrEditor' | translate"><mat-icon>edit_note</mat-icon></mat-button-toggle>
                    <mat-button-toggle value="xml" [matTooltip]="'button.xmlSource' | translate"><mat-icon>code</mat-icon></mat-button-toggle>
                  </mat-button-toggle-group>
                </div>
                <span class="app-fxFlex"></span>
                <div class="app-toolbar-group">
                  <button mat-icon-button (click)="zoom(1.1)" [disabled]="panelMode !== 'ocr'" [matTooltip]="'button.zoomIn' | translate"><mat-icon>zoom_in</mat-icon></button>
                  <button mat-icon-button (click)="zoom(.9)" [disabled]="panelMode !== 'ocr'" [matTooltip]="'button.zoomOut' | translate"><mat-icon>zoom_out</mat-icon></button>
                  <button mat-icon-button (click)="zoomReset()" [disabled]="panelMode !== 'ocr'" [matTooltip]="'button.zoomReset' | translate"><mat-icon>zoom_in_map</mat-icon></button>
                </div>
                <div class="app-toolbar-group">
                  <button mat-icon-button (click)="save()" [matTooltip]="'button.save' | translate"><mat-icon>save</mat-icon></button>
                  <button mat-icon-button *ngIf="state.currentUser?.isCurator && state.engineUsers?.length" [matMenuTriggerFor]="engineMenu" [matTooltip]="'button.generate' | translate"><mat-icon>scanner</mat-icon></button>
                  <mat-menu #engineMenu="matMenu">
                    <button mat-menu-item *ngFor="let engine of state.engineUsers" (click)="openGeneratePriorityDialog(engine)">{{ engine.username }}</button>
                  </mat-menu>
                </div>
              </div>
              <div class="app-fxFlex app-oa-y">
                <ng-container *ngIf="panelMode === 'xml'">
                  <pre class="app-m-0"><code [highlight]="selectedVersionAlto" [languages]="['xml']"></code></pre>
                </ng-container>
                <ng-container *ngIf="panelMode === 'ocr'">
                  <app-ocr-editor [selectedWords]="state.selectedWords" [printSpace]="state.printSpace" [printSpaceDiff]="activeVersionOcr" [canEdit]="true" (setArea)="setArea($event)" [divZoom]="divZoom"></app-ocr-editor>
                </ng-container>
              </div>
            </div>
          </as-split-area>
        </as-split>
      </as-split-area>
    </as-split>
  </div>
</div>
